/* 
 * Credit to Kevin Powell for his YouTube short.
 * Simple CSS reset to prevent headaches.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-image: url("./assets/mobile/bg-image-daytime.jpg");
  background-size: cover;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}