@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* 
 * Credit to Kevin Powell for his YouTube short.
 * Simple CSS reset to prevent headaches.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-image: url("./assets/mobile/bg-image-daytime.jpg");
  background-size: cover;
  backdrop-filter: brightness(60%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.header {
  padding: 1.875rem 1.625rem 0;
  font-size: 0.75rem;
  line-height: 1.375rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  column-gap: 1rem;
}

.header__figcaption {
  font-weight: 700;
  margin-top: 0.5rem;
}

@keyframes spinanimation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header__refresh {
  border: none;
  background-color: transparent;
  outline: 0;
  width: 50px;
}

.header__refresh>img {
  filter: invert(88%) sepia(5%) saturate(55%) hue-rotate(131deg) brightness(93%) contrast(88%);
}

.header__refresh:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

#refresh-icon.spin-animation {
  animation: spinanimation 500ms ease-in;
}

.main__content {
  margin: 350px 26px 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main__greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.main__greeting--paragraph {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main__time--paragraph>span {
  font-size: 6.25rem;
  font-weight: 700;
}

.main__location--paragraph {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main__more-content {
  display: none;
  visibility: hidden;
}